<br><br>

<div class="login-form">
  <form action="/login" method="POST" class="login-submit">
    Username: <input type="text" name="user[username]">
    Password: <input type="password" name="user[password]">
    <input type="submit" value="Submit!">
  </form>
</div>