<br>
<div class="new-book-form">
  <form action="/book/new" method=POST class="new-book-submit">
    Title: <input type="text" name="book[title]"><br>
    Author: <input type="text" name="book[author]"><br>
    Summary: <textarea rows="4" cols="50" id="review" name="book[summary]"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</div>